<div class="cajas-container layout-wide">
  <div class="page-header">
    <div class="page-header__info">
      <h1 class="page-header__title">Cajas</h1>
      <p class="page-header__subtitle">
        Administra los turnos de tus cajeros y los equipos vinculados a esta sucursal.
      </p>
    </div>
  </div>

  <p-tabView
    [activeIndex]="activeIndex()"
    (activeIndexChange)="activeIndex.set($event)"
    styleClass="cajas-container__tabs"
  >
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-wallet"></i>
        <span>Turnos y Sesiones</span>
      </ng-template>

      <app-cash-register />
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-wallet"></i>
        <span>Cajas Físicas</span>
      </ng-template>

      <app-admin-registers />
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-link"></i>
        <span>Ventas Huérfanas</span>
      </ng-template>

      <app-orphaned-orders />
    </p-tabPanel>
  </p-tabView>
</div>
